<div class="container mt-4" *ngIf="producto">
  
  <div class="mb-4 animate-back">
    <button class="btn btn-volver" routerLink="/productos">
      <i class="bi bi-arrow-left"></i> Volver al Listado
    </button>
  </div>

  <div class="card shadow-sm">
    
    <div class="image-wrapper text-center mt-3 mt-lg-0">
      <img [src]="producto.tipoAlimento === 'BEBIDA' 
                  ? 'https://cdn-icons-png.flaticon.com/512/2405/2405479.png' 
                  : 'https://cdn-icons-png.flaticon.com/512/706/706164.png'" 
           alt="Imagen del producto" 
           class="img-fluid rounded" 
           style="max-height: 300px; padding: 20px;"/>
    </div>

    <div class="col-md-8">
      <h2 class="titulo-detalle">{{ producto.nombre }}</h2>
      
      <ul class="list-group list-group-flush mt-4">
        
        <li class="list-group-item">
          <strong>ID Referencia:</strong> 
          <span class="text-muted">#{{ producto.id }}</span>
        </li>
        
        <li class="list-group-item">
          <strong>Categoría:</strong> 
          <span class="badge" 
                [ngClass]="{
                  'bg-success': producto.tipoAlimento === 'COMIDA',
                  'bg-info text-dark': producto.tipoAlimento === 'BEBIDA'
                }">
            {{ producto.tipoAlimento }}
          </span>
        </li>

        <li class="list-group-item">
          <strong>Precio:</strong> 
          <span class="precio-destacado">{{ producto.precio | number:'1.2-2' }} €</span>
        </li>

      </ul>
    </div>
  </div>
</div>