<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Gestión de Casetas</h2>

  <div class="row mb-3 align-items-center">
    
    <!--Filtro para socios-->
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-text bg-white">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" 
               class="form-control" 
               placeholder="Buscar casetas por nombre de socio..." 
               [(ngModel)]="textoBusqueda" 
               (input)="filtrar()">
        
        <button class="btn btn-outline-secondary" 
                *ngIf="textoBusqueda" 
                (click)="textoBusqueda=''; filtrar()">
          <i class="bi bi-x"></i>
        </button>
      </div>
    </div>
    </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center">ID</th>
          <th scope="col">Razón Social</th>
          <th scope="col">Ubicación</th>
          <th scope="col" class="text-center">Aforo</th>
          <th scope="col" class="text-center">Tipo</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caseta of casetasFiltradas">
          <td>{{ caseta.razonS }}</td>
          <td>{{ caseta.direccion || 'No especificada' }}</td>

          <td class="text-center">{{ caseta.aforo }}</td>

          <td class="text-center">
            <span class="badge" [ngClass]="caseta.publica ? 'bg-primary' : 'bg-secondary'">
              {{ caseta.publica ? 'Pública' : 'Privada' }}
            </span>
          </td>

          <td class="text-center align-middle">
            <div class="btn-group" role="group">
              <button
                class="btn btn-info btn-sm me-1"
                [routerLink]="['/casetas', caseta.id]"
                title="Ver detalles"
              >
                <i class="bi bi-eye"></i>
              </button>

              <button
                class="btn btn-primary btn-sm"
                [routerLink]="['/casetas', caseta.id, 'socios']"
                title="Ver socios"
              >
                <i class="bi bi-people-fill text-white"></i>
              </button>
            </div>
          </td>
        </tr>
        
        <!--Comprobaciones para en caso de que no haya casetas-->
        <tr *ngIf="casetasFiltradas.length === 0">
          <td colspan="7" class="text-center">
             <span *ngIf="textoBusqueda">No hay coincidencias con "{{textoBusqueda}}"</span>
             <span *ngIf="!textoBusqueda">No hay casetas registradas</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>