<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2><span>Tabla de Socios</span></h2>

    <button class="btn btn-success" [routerLink]="['/socios/nuevo']" title="Registrar Nuevo Socio">
      <span style="font-size: 1.8rem; line-height: 0; margin-bottom: 4px">+</span>
      <img src="/assets-webp/socio.webp" alt="Icono Socio" style="height: 30px; width: auto" />
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="text-center">ID</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Dirección</th>
          <th scope="col">Contacto</th>
          <th scope="col">Usuario</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of socios">
          <td class="text-center fw-bold">{{ s.id }}</td>
          <td>{{ s.nombre }} {{ s.primerApellido }} {{ s.segundoApellido || '' }}</td>
          <td>{{ s.direccion || 'No indicada' }}</td>
          <td>
            <div><i class="bi bi-envelope"></i> {{ s.correo }}</div>
            <div *ngIf="s.telefono"><i class="bi bi-telephone"></i> {{ s.telefono }}</div>
          </td>
          <td>
            <span class="badge bg-light text-dark border">{{ s.username }}</span>
          </td>
          <td class="text-center align-middle">
            <div class="btn-group" role="group">
              <button
                class="btn btn-info btn-sm"
                [routerLink]="['/socios', s.id]"
                title="Ver detalles"
              >
                <i class="bi bi-eye text-white"></i>
              </button>

              <button
                class="btn btn-warning btn-sm"
                [routerLink]="['/socios/editar', s.id]"
                title="Editar socio"
              >
                <i class="bi bi-pencil text-white"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="socios.length === 0">
          <td colspan="6" class="text-center py-4 text-muted fst-italic">
            <i class="bi bi-people me-2"></i> No hay socios registrados en el sistema.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
